.tab {
    background-color: var(--left_tab_bg);
}

.tab button {
    color: var(--left_tab_text);
}

.tab button:hover {
    background-color: var(--left_tab_text_hover);
}

.tab button.active {
    background-color: var(--left_tab_text_active);
}