body{
	font-family: 'helvatica', sans-serif;
}
.login{
	margin-left:40%;
	width:300px;
	height: auto;
	border: 1px solid #D0D0D0;
	border-radius: 5px;

	-moz-box-shadow:  0px  1px  5px 3px  rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 5px 3px  rgba(0, 0, 0, 0.1);
    box-shadow:0px 1px 5px 3px  rgba(0, 0, 0, 0.1);
}
.form{
	padding: 20px 0px;
	width: 300px;
	height: auto;
	text-align: center;

}
.title{
	font-size: 30px;
	color:#2C3E50;
}
.inputs{
	border:1Px solid #9DE0FF;
	outline: none;
	outline-color: none;
	padding: 10px 8px;
	margin: 5px 0px;
	width: 260px;

}

.inputs:hover{
	border:1Px solid #7FD6FD;

	outline: none;
	outline-color: none;
	
}
.inputs:focus{
	outline: none;
	outline-color: none;
	border:1Px solid #12AEF7;
	
}
.Remember{
	margin:5px 5px;
	width: 280PX;
	height: 30px;
	font-size: 14px;
	vertical-align: middle;
}

.rb{
	float: left;
}
.lbl_rb{
	float: left;
}
.fg{
	float: right;
}

.buttons{
	outline: none;
	outline-color: none;
	border: 1px solid #12AEF7;
	padding: 10px 8px;
	margin: 5px 0px;
	width: 280px;
	background-color: #12AEF7  ;
	color: white;
	font-size: 18px;
	border-radius: 0px;
}

.buttons:hover{
	transition: 0.4s;
	background-color:#0395D7;
	border: 1px solid #0383BD;

}
.redirect{
	font-size: 14px;
	
}
.links{
	color: #06CFEF;
	text-decoration-line: none;
	font-size: 14px;
}

.Profile_img{
	width: 100px;
	height: 100px;

}


