/*Inputs type text*/

:root {
    /*main*/
    --one: #00a6ff;
    --two: #73ff00;
    --three: #d2efff;
    --four: #d0f5b2;
    --text_w: #fff;
    --text_b: #222;
    --bg_w: #ffffff;
    --bg_g: #f2f2f2;
}

.inputs {
    background-color: var(--bg_g);
    color: var(--text_b);
    border-color: var(--three);
}

.inputs:hover {
    background-color: var(--bg_w);
    border-color: var(--one);
}

.inputs:focus {
    background-color: var(--bg_w);
    border-color: var(--one);
}


/*Buttons*/

.buttons {
    background-color: var(--one);
    color: var(--text_w);
}

.buttons:hover {
    background-color: var(--two);
    color: var(--text_w);
}

.buttons:focus {
    background-color: var(--one);
    color: var(--btn_text_focus);
    border-color: var(--one);
}