.forms_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}

.forms_content {
    width: 100%;
    margin: 10px 0px;
}

.forms {
    width: 50%;
}

.title {
    font-size: 20px;
    color: #444;
}

.list_content {
    height: 400px;
    padding: 10px;
    overflow-x: scroll;
    overflow: hidden;
}

.player_list {
    overflow-x: scroll;
}


/*4k Screen*/

@media (max-width: 2560px) {}


/*Laptop Screen*/

@media (max-width: 1440px) {}


/*Ipad Pro Screen*/

@media (max-width: 1024px) {}


/*Ipad Screen*/

@media (max-width: 768px) {}


/*Mobile L Screen*/

@media (max-width: 425px) {
    .forms_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0px auto;
    }
    .forms_content {
        width: 100%;
        margin: 10px 0px;
    }
    .forms {
        width: 100%;
    }
}