/*4k Screen*/

.dash_content {
    display: flex;
    flex-direction: row;
}


/*left side*/

.dash_content_left {
    width: 20%;
    height: 100%;
    background-color: var(--bg1);
    transition: .3s;
}

.dash_content_right {
    width: 80%;
    background-color: white;
    transition: .4s;
}


/*left side content*/

.content_left {
    width: 100%;
    height: auto;
    text-align: center;
}

.left_items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: inherit;
    justify-content: flex-start
}

.left_item {
    width: 100%;
    padding: 30px 0px;
    margin: 0px 0px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}


/*right side*/

.dash_content_right {
    width: 100%;
}

.content_right {
    width: 95%;
    margin: 2px auto;
}

.right_content_items {
    width: 100%;
    padding: 10px 0;
}


/*right side content*/

@media (max-width: 2560px) {}


/*Laptop Screen*/

@media (max-width: 1440px) {}


/*Ipadv Pro Screen*/

@media (max-width: 1024px) {}


/*Ipad Screen*/

@media (max-width: 768px) {
    .dash_content_left {
        width: 30%;
        height: 100%;
    }
    .dash_content_right {
        margin-top: 4px;
        width: 70%;
    }
}


/*Mobile L Screen*/

@media (max-width: 425px) {
    .dash_content {
        display: flex;
        flex-direction: column;
    }
    .dash_content_left {
        width: 100%;
        height: 80px;
    }
    .dash_content_right {
        margin-top: 4px;
        margin-left: 0px;
        width: 100%;
        height: 100%;
    }
    /*left side content*/
    .content_left {
        width: 100%;
        text-align: center;
        overflow-x: scroll;
    }
    .left_items {
        width: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .left_item {
        width: max-content;
        padding: 10px 10px;
        margin: 5px 4px;
        animation: 1s ease-out 0s 1 slideInFromBottom;
    }
}