@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.login_2 {
    width: 100%;
    height: auto;
}

.login_container {
    width: 20%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    border: 2px solid #9431310d;
    padding: 20px;
    -moz-box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.051);
    -webkit-box-shadow: 0px 20px 10px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.05);
}

.login_content {
    width: 100%;
}

.login_form {
    width: 100%;
    display: flex;
    flex-direction: column;
}


/*form content elements*/

.form_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.inputs {
    width: auto;
    padding: 8px 6px;
    outline: none;
}

.buttons {
    width: 100%;
    padding: 6px 2px;
    outline: none;
    margin: 2px auto;
    border: 1px solid #069bff;
    background-color: #0999f8;
    color: white;
    font-weight: 600;
}

.logo_container {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
}


/*message */

.err_msg {
    display: none;
    margin: 0px auto;
    width: 80%;
    padding: 5px 10px;
    font-size: 16px;
    color: white;
    background-color: rgb(255, 82, 82);
    border-radius: 2px;
    border: 1px solid rgb(187, 0, 0);
    text-align: center;
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.success_msg {
    display: none;
    margin: 0px auto;
    width: 90%;
    padding: 5px 10px;
    font-size: 16px;
    color: white;
    background-color: rgb(129, 214, 118);
    border-radius: 2px;
    border: 1px solid rgb(62, 187, 0);
    text-align: center;
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}


/*4k Screen*/

@media (max-width: 2560px) {
    .login_container {
        width: 20%;
        margin: 10px auto;
        padding: 60px 30px;
    }
}


/*Laptop Screen*/

@media (max-width: 1440px) {
    .login_container {
        width: 30%;
        margin: 10px auto;
        padding: 10px;
    }
}


/*Ipad Pro Screen*/

@media (max-width: 1024px) {
    .login_container {
        width: 40%;
        margin: 10px auto;
        padding: 10px;
    }
}


/*Ipad Screen*/

@media (max-width: 768px) {
    .login_container {
        width: 50%;
        margin: 10px auto;
        padding: 10px;
    }
}


/*Mobile L Screen*/

@media (max-width: 425px) {
    .login_container {
        width: 95%;
        margin: 10px auto;
        padding: 5px;
    }
}